
#timetable tr.individualEntry1 td {
    background: #faf6e3;
    color: #777;
}

#timetable tr.individualEntry2 td {
    background: #e7f5e7;
    color: #777;
}

#timetable tr.individualEntry6 td {
    background: #f5e7e7;
    color: #777;
}

#timetable tr.individualEntry4 td {
    background: #e3e5f9;
    color: #777;
}
